# Xcode
.DS_Store
*.xcscmblueprint
*.xcbkptlist
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.irb-history
*.xccheckout
*.orig
*.gcno
*.gcda
Pods/
Failed_Screenshots/
upload_dsym_results
fastlane/report.xml
fastlane/output/
fastlane/metadata/
fastlane/screenshots/
fastlane/test_output/
code_coverage/
.build/
